<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           interval="10"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           interval="10"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <!-- Boostrap Provider. You can find more information in http://examine.codeplex.com/wikipage?title=Full%20Configuration%20Markup%20%26%20Options -->
      <add name="BootstrapENIndexer"
         type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
         indexSet="BootstrapENIndexSet"
         supportUnpublished="false"
         supportProtected="false"
         interval="30"
         analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
      <add name="BootstrapESIndexer"
         type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
         indexSet="BootstrapESIndexSet"
         supportUnpublished="false"
         supportProtected="false"
         interval="30"
         analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
      <add name="BootstrapHEIndexer"
         type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"
         indexSet="BootstrapHEIndexSet"
         supportUnpublished="false"
         supportProtected="false"
         interval="30"
         analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="InternalSearcher">
    <providers>
      <add name="InternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"/>

      <!-- Bootstrap Searcher -->
      <add name="BootstrapENSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
      <add name="BootstrapESSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
          analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
      <add name="BootstrapHESearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
          analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
    </providers>
  </ExamineSearchProviders>

</Examine>
