@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
	dynamic[] siblings = Model.Parent.Children.ToArray();
    var pages = siblings.Where(x => x.NodeTypeAlias == "Photo" && x.Id != Model.Id).Take(3);
    <ul class="thumbnails">
    @foreach (var item in pages)
    {
        var image = RenderPage("ResizeImage.cshtml", item.BodyImage.ToString(), "260", "180", "", "ffffff");
        <li class="span3">
            <a href="@item.Url" title="@item.HeaderText" class="thumbnail">@image</a>
        </li>
    }
    </ul>
}