@inherits UmbracoTemplatePage
@{
	Layout = "Base.cshtml";	
}

@Html.Partial("Breadcrumb")
@Html.Partial("ListPhotos")


@section Header
{
   <h2>@Umbraco.Field("headerText", removeParagraphTags : true)</h2>
}

@section Sidebar
{
    @Html.Partial("RecommendWidget")
}