@using Website.Mvc.Models

@inherits UmbracoTemplatePage
@{
	Layout = "Base.cshtml";	
}

@Html.Partial("SearchResults")

@section Header
{
   <h2>@Umbraco.Field("headerText", removeParagraphTags : true)</h2>
}

@section Sidebar
{
    @Html.Partial("SideNavigation")
    @Html.Partial("GetInTouch")
}